<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="densoftinfotechio.agora.openlive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="densoftinfotechio.AgoraApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <activity android:name=".DisplayAllUsersInChannelActivity"></activity>
        <activity android:name="densoftinfotechio.GalleryItemsActivity" />
        <activity android:name="densoftinfotechio.ShowMediaActivity" />
        <activity android:name="densoftinfotechio.RequestsActivity" />
        <activity android:name="densoftinfotechio.WaitingActivity" />

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity android:name="densoftinfotechio.EventsViewActivity" />
        <activity android:name="densoftinfotechio.AddEventActivity" />
        <activity android:name="densoftinfotechio.CallingActivity" /> <!-- android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" -->
        <activity
            android:name="densoftinfotechio.videocall.openlive.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            -->
        </activity>

        <service
            android:name="densoftinfotechio.backgroundservices.BackgroundServiceNotification"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="densoftinfotechio.backgroundservices.BackgroundReceiver">
            <intent-filter>
                <action android:name="Accept" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="densoftinfotechio.videocall.openlive.activities.LiveActivity"
            android:screenOrientation="portrait" />
        <activity android:name="densoftinfotechio.videocall.openlive.activities.LiveActivityEvent" />
        <activity
            android:name="densoftinfotechio.videocall.openlive.activities.RoleActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="densoftinfotechio.videocall.openlive.activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity android:name="densoftinfotechio.AppointmentsActivity" />
        <activity android:name="densoftinfotechio.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="blog.ida.org.in"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="densoftinfotechio.DoctorViewActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="densoftinfotechio.PatientViewActivity"
            android:windowSoftInputMode="stateHidden" /> <!-- Audio Call Activities -->
        <activity
            android:name="densoftinfotechio.audiocall.openlive.voice.only.ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="densoftinfotechio.audiocall.openlive.voice.only.ui.LiveRoomActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName="densoftinfotechio.audiocall.openlive.voice.only.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" /> <!-- Screen Sharing Activities -->
        <activity
            android:name="densoftinfotechio.screenshare.app.BroadcasterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor" />
        <activity android:name="densoftinfotechio.screenshare.app.MainActivity" />
        <activity android:name="densoftinfotechio.screenshare.app.AudienceActivity" /> <!-- RealTime Messaging Activities -->
        <activity
            android:name="densoftinfotechio.realtimemessaging.agora.activity.LoginActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="densoftinfotechio.realtimemessaging.agora.activity.SelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="densoftinfotechio.realtimemessaging.agora.activity.MessageActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>